<a href="https://colab.research.google.com/github/stbhg5/ComputerScience/blob/main/python_ch2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 숫자형

In [ ]:
c = 3 + 4j # 복소수
print(c)
a1 = 3
a2 = 4
print(complex(3, 4))
d = c.conjugate()
print(d)
print(c.real)
print(c.imag)

(3+4j)
(3+4j)
(3-4j)
3.0
4.0

In [ ]:
kor = 80
eng = 75
math = 55
print('평균 :', (kor + eng + math) / 3)
score = {'kor': 80, 'eng': 75, 'math': 55}
sum = 0
for sc in score.values():
    sum += sc
print('평균 :', sum / len(score))

평균 : 70.0
평균 : 70.0

In [ ]:
print(3 * 2 - 8 / 4) # 6 - 2.0   ★ 파이썬에서 정수와 정수 나눗셈하면 자동으로 형태가 실수로 바뀐다, 정수에서 실수를 빼면 실수가 된다.
print(25 * 6 / 3 + 17) # 50.0 + 17
print(39021 - 276920 / 12040)
print(26 - 10 % 6) # 26 - 4

4.0
67.0
38998.0
22

In [ ]:
def isodd(num):
    if num % 2 == 0:
        print('{}은 짝수'.format(num))
    else:
        print('{}은 홀수'.format(num))
isodd(13)

13은 홀수

In [ ]:
print(12 - (5 * 7 + 1)) # 12 - 36
print(5 * (8 + (10 - 6) / 2)) # 5 * (8 + 4 / 2) = 5 * 10.0
print(48320 - ((365 - 5 * 9) / 16) * 987)
print(((34 - 3 * 7) % 5 + 4) * 2) # (13 % 5 + 4) + 2 = (3 + 4) * 2

-24
50.0
28580.0
14

In [ ]:
pin = '881120-1068234'
birth = pin[:6]
num = pin[7:]
print('생년월일 :', birth)
print('주민번호 뒷자리 :', num)

생년월일 : 881120
주민번호 뒷자리 : 1068234

In [ ]:
0.1 + 0.2 # 실수 저장시 부동소수점 방식으로 근사값 저장, 근사값 0.1 + 근사값 0.2

0.30000000000000004

In [ ]:
0.3 - (0.1 + 0.2) # 10 곱하기 -17제곱

-5.551115123125783e-17

In [ ]:
1e7 # 10의 7제곱

10000000.0

In [ ]:
1e-2 # 10의 -2제곱

0.01

In [ ]:
1e0 # 10의 0제곱

1.0

2. 문자형

In [ ]:
print('\') # 하나는 나오지 않는다.

SyntaxError: ignored

In [ ]:
print('\\')

\

In [ ]:
a = 'hello \'world'
print(a)

hello 'world

In [ ]:
a = 'hello \n world'
print(a)
a = 'hello \t world'
print(a)

hello
 world
hello 	 world

In [ ]:
print('hello' + 'world')
print('hello' * 3)

helloworld
hellohellohello

In [ ]:
A = 'Life is short, you need python'
A[0] # L
A[-1] # n
A[-2] # o
A[0:4] # Life
A[5:] # is short, you need python
A[:10] # Life is sh
A[2:-2] # fe is short, you need pyth
A[0] = 'R' # 오류생긴다. A라는 문자열은 통째로 저장되어 데이터를 변경할 수 없다.

TypeError: ignored

In [ ]:
len('Life is short') # 13

13

In [ ]:
'life is short'.startswith('life') # True
'life is short'.startswith('wife') # False

False

In [ ]:
'life is short'.endswith('short') # True
'life is short'.endswith('tall') # False

False

In [ ]:
'life is short'.find('tall') # -1
'life is short'.find('is') # 5(시작 index 반환)

5

In [ ]:
'life is short'.count('l') # 1
'life is short'.count('i') # 2

2

In [ ]:
'       life is short             '.strip() # life is short

'life is short'

In [ ]:
'지금은 {}시 입니다.'.format(7) # 지금은 7시 입니다.

'지금은 7시 입니다.'

In [ ]:
'지금은 {}시 {}분 입니다.'.format(7, 30) # 지금은 7시 30분 입니다.

'지금은 7시 30분 입니다.'

In [ ]:
'지금은 %d시 %d분 입니다.' %(7, 30) # 지금은 7시 30분 입니다.

'지금은 7시 30분 입니다.'

In [ ]:
'지금은 {time}시 {minute}분 입니다.'.format(time = 7, minute = 30) # 명시적으로 표현할 때

'지금은 7시 30분 입니다.'

In [ ]:
str(3) # 문자 3

'3'

In [ ]:
int('1990') # 숫자 1990

1990

In [ ]:
int('1990년') # 숫자가 아닌 문자를 숫자로 변하게 하면 에러남.

ValueError: ignored

In [ ]:
int('1990.2352523') # 정수로 바꾸려 하면 에러남. 실수이기 때문.

ValueError: ignored

In [ ]:
float('1990.2352523') # 실수 1990.2352523

1990.2352523

3. 순서형

In [4]:
a = [1, 2, 3, 4] # [1, 2, 3, 4]를 메모리에 저장, 메모리 값의 이름이 a 변수
print(a)
print(a[1])
print(a[1:3]) # 요소가 아닌 a list의 서브 list를 반환 - 문자열 슬라이싱과 약간의 차이가 있다.

[1, 2, 3, 4]
2
[2, 3]

In [7]:
a = [1,2, 3, [4, 5, 6]]
print(a[3])
print(a[3][2])
print(a[3][1:3])

[4, 5, 6]
6
[5, 6]

In [17]:
# 리스트는 수정가능 : 뮤터블
# 리스트 관련 함수들
a = [1, 2, 3, 4]
a.append(5)
print(a)
a = [4, 2, 3, 1, 5]
a.sort()
print(a)
a.reverse()
print(a)
a.index(3)
a.index(4)
# a.index(25) # 없기 때문에 에러
del a[2]
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[5, 4, 2, 1]

In [20]:
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]
print(a + b)
print(a * 3)
print(len(a))

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
4

In [24]:
a = [3, 1, 2, 4]
print(sorted(a))
print(a)
a.sort()
print(a.sort()) # 실제 정렬하는 작업이기 때문
print(a)

[1, 2, 3, 4]
[3, 1, 2, 4]
None
[1, 2, 3, 4]

In [25]:
a = (1, 2, 3, 4)
a[2] = 3 # 오류가 난다. 튜플은 이뮤터블 자료구조

TypeError: ignored

In [32]:
a = {1, 2, 3}
# a[1] # 순서 없기 때문에 인덱싱, 슬라이승 불가
a = set([1, 2, 3, 4])
print(a)
a = 'hello world'
print(set(a)) # 중복 허용하지 않고 순서도 꼬임
a = [3, 1, 12, 4]
print(set(a)) # 순서가 바뀐다.

{1, 2, 3, 4}
{'o', ' ', 'r', 'e', 'd', 'w', 'h', 'l'}
{1, 3, 12, 4}

In [35]:
a = {1, 2, 3}
b = {3, 4, 5}
a.add(4)
print(a)
a.clear()
print(a) # set()

{1, 2, 3, 4}
set()

In [46]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b)) # 합집합
print(a.intersection(b)) # 교집합
print(a.difference(b)) # 차집합

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [48]:
# 형변환
a = {1, 2, 3}
print(list(a)) # 리스트로 형변환
print(tuple(a)) # 튜플로 형변환

[1, 2, 3]
(1, 2, 3)