<a href="https://colab.research.google.com/github/stbhg5/ComputerScience/blob/main/python_ch2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 숫자형

In [ ]:
c = 3 + 4j # 복소수
print(c)
a1 = 3
a2 = 4
print(complex(3, 4))
d = c.conjugate()
print(d)
print(c.real)
print(c.imag)

(3+4j)
(3+4j)
(3-4j)
3.0
4.0

In [ ]:
kor = 80
eng = 75
math = 55
print('평균 :', (kor + eng + math) / 3)
score = {'kor': 80, 'eng': 75, 'math': 55}
sum = 0
for sc in score.values():
    sum += sc
print('평균 :', sum / len(score))

평균 : 70.0
평균 : 70.0

In [ ]:
print(3 * 2 - 8 / 4) # 6 - 2.0   ★ 파이썬에서 정수와 정수 나눗셈하면 자동으로 형태가 실수로 바뀐다, 정수에서 실수를 빼면 실수가 된다.
print(25 * 6 / 3 + 17) # 50.0 + 17
print(39021 - 276920 / 12040)
print(26 - 10 % 6) # 26 - 4

4.0
67.0
38998.0
22

In [ ]:
def isodd(num):
    if num % 2 == 0:
        print('{}은 짝수'.format(num))
    else:
        print('{}은 홀수'.format(num))
isodd(13)

13은 홀수

In [ ]:
print(12 - (5 * 7 + 1)) # 12 - 36
print(5 * (8 + (10 - 6) / 2)) # 5 * (8 + 4 / 2) = 5 * 10.0
print(48320 - ((365 - 5 * 9) / 16) * 987)
print(((34 - 3 * 7) % 5 + 4) * 2) # (13 % 5 + 4) + 2 = (3 + 4) * 2

-24
50.0
28580.0
14

In [ ]:
pin = '881120-1068234'
birth = pin[:6]
num = pin[7:]
print('생년월일 :', birth)
print('주민번호 뒷자리 :', num)

생년월일 : 881120
주민번호 뒷자리 : 1068234

In [ ]:
0.1 + 0.2 # 실수 저장시 부동소수점 방식으로 근사값 저장, 근사값 0.1 + 근사값 0.2

0.30000000000000004

In [ ]:
0.3 - (0.1 + 0.2) # 10 곱하기 -17제곱

-5.551115123125783e-17

In [ ]:
1e7 # 10의 7제곱

10000000.0

In [ ]:
1e-2 # 10의 -2제곱

0.01

In [ ]:
1e0 # 10의 0제곱

1.0

2. 문자형

In [ ]:
print('\') # 하나는 나오지 않는다.

SyntaxError: ignored

In [ ]:
print('\\')

\

In [ ]:
a = 'hello \'world'
print(a)

hello 'world

In [ ]:
a = 'hello \n world'
print(a)
a = 'hello \t world'
print(a)

hello
 world
hello 	 world

In [ ]:
print('hello' + 'world')
print('hello' * 3)

helloworld
hellohellohello

In [ ]:
A = 'Life is short, you need python'
A[0] # L
A[-1] # n
A[-2] # o
A[0:4] # Life
A[5:] # is short, you need python
A[:10] # Life is sh
A[2:-2] # fe is short, you need pyth
A[0] = 'R' # 오류생긴다. A라는 문자열은 통째로 저장되어 데이터를 변경할 수 없다.

TypeError: ignored

In [ ]:
len('Life is short') # 13

13

In [ ]:
'life is short'.startswith('life') # True
'life is short'.startswith('wife') # False

False

In [ ]:
'life is short'.endswith('short') # True
'life is short'.endswith('tall') # False

False

In [ ]:
'life is short'.find('tall') # -1
'life is short'.find('is') # 5(시작 index 반환)

5

In [ ]:
'life is short'.count('l') # 1
'life is short'.count('i') # 2

2

In [ ]:
'       life is short             '.strip() # life is short

'life is short'

In [ ]:
'지금은 {}시 입니다.'.format(7) # 지금은 7시 입니다.

'지금은 7시 입니다.'

In [ ]:
'지금은 {}시 {}분 입니다.'.format(7, 30) # 지금은 7시 30분 입니다.

'지금은 7시 30분 입니다.'

In [ ]:
'지금은 %d시 %d분 입니다.' %(7, 30) # 지금은 7시 30분 입니다.

'지금은 7시 30분 입니다.'

In [ ]:
'지금은 {time}시 {minute}분 입니다.'.format(time = 7, minute = 30) # 명시적으로 표현할 때

'지금은 7시 30분 입니다.'

In [ ]:
str(3) # 문자 3

'3'

In [ ]:
int('1990') # 숫자 1990

1990

In [ ]:
int('1990년') # 숫자가 아닌 문자를 숫자로 변하게 하면 에러남.

ValueError: ignored

In [ ]:
int('1990.2352523') # 정수로 바꾸려 하면 에러남. 실수이기 때문.

ValueError: ignored

In [ ]:
float('1990.2352523') # 실수 1990.2352523

1990.2352523

3. 순서형

In [ ]:
a = [1, 2, 3, 4] # [1, 2, 3, 4]를 메모리에 저장, 메모리 값의 이름이 a 변수
print(a)
print(a[1])
print(a[1:3]) # 요소가 아닌 a list의 서브 list를 반환 - 문자열 슬라이싱과 약간의 차이가 있다.

[1, 2, 3, 4]
2
[2, 3]

In [ ]:
a = [1,2, 3, [4, 5, 6]]
print(a[3])
print(a[3][2])
print(a[3][1:3])

[4, 5, 6]
6
[5, 6]

In [ ]:
# 리스트는 수정가능 : 뮤터블
# 리스트 관련 함수들
a = [1, 2, 3, 4]
a.append(5)
print(a)
a = [4, 2, 3, 1, 5]
a.sort()
print(a)
a.reverse()
print(a)
a.index(3)
a.index(4)
# a.index(25) # 없기 때문에 에러
del a[2]
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[5, 4, 2, 1]

In [ ]:
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]
print(a + b)
print(a * 3)
print(len(a))

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
4

In [ ]:
a = [3, 1, 2, 4]
print(sorted(a))
print(a)
a.sort()
print(a.sort()) # 실제 정렬하는 작업이기 때문
print(a)

[1, 2, 3, 4]
[3, 1, 2, 4]
None
[1, 2, 3, 4]

In [ ]:
a = (1, 2, 3, 4)
a[2] = 3 # 오류가 난다. 튜플은 이뮤터블 자료구조

TypeError: ignored

In [ ]:
a = {1, 2, 3}
# a[1] # 순서 없기 때문에 인덱싱, 슬라이승 불가
a = set([1, 2, 3, 4])
print(a)
a = 'hello world'
print(set(a)) # 중복 허용하지 않고 순서도 꼬임
a = [3, 1, 12, 4]
print(set(a)) # 순서가 바뀐다.

{1, 2, 3, 4}
{'o', ' ', 'r', 'e', 'd', 'w', 'h', 'l'}
{1, 3, 12, 4}

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
a.add(4)
print(a)
a.clear()
print(a) # set()

{1, 2, 3, 4}
set()

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b)) # 합집합
print(a.intersection(b)) # 교집합
print(a.difference(b)) # 차집합

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [ ]:
# 형변환
a = {1, 2, 3}
print(list(a)) # 리스트로 형변환
print(tuple(a)) # 튜플로 형변환

[1, 2, 3]
(1, 2, 3)

4. 매핑형

In [ ]:
# Dictionary
a = {'1': '송진성', '2': '이과장', '3': '조충범', 4: '김천재'}
print(a)
# key 입력하면 value 반환
print(a['1'])
print(a[4])

{'1': '송진성', '2': '이과장', '3': '조충범', 4: '김천재'}
송진성
김천재

In [ ]:
# 빈 딕셔너리 생성
a = dict()
# a = {}
# 데이터 추가
a['1'] = '송진성'
a['천재'] = '송진성'
print(a)
# 주요 함수들
len(a)
del a['1']
print(a)
a = {'1': '송진성', '2': '이과장', '3': '조충범', 4: '김천재'}
print(a.keys())
print(a.values())
a['1']
a.get('1')
# a['5'] # 에러생김
a.get('5') # 에러없이 아무것도 반환하지 않음

{'1': '송진성', '천재': '송진성'}
{'천재': '송진성'}
dict_keys(['1', '2', '3', 4])
dict_values(['송진성', '이과장', '조충범', '김천재'])

5. 심화학습 - 자료형의 복사

In [ ]:
a = 3
b = a
print(b)
a = [1, 2, 3, 4]
b = a
print(b)
b[3] = 1
print(b)
print(a) # 같이 바뀜

3
[1, 2, 3, 4]
[1, 2, 3, 1]
[1, 2, 3, 1]

In [ ]:
a = 3
b = a
b = b + 1
print(b) # 4
print(a) # 3
# 숫자형은 안바뀌지만 리스트는 바뀜

4
3

In [ ]:
# 위처럼 list가 바뀌는 것을 피하고싶을 때 자료형의 복사를 한다.
a = [1, 2, 3, 4]
b = a.copy() # 리스트가 복사되어 메모리 다른 공간에 쓰인다. 새롭게 쓰인 메모리 공간의 list를 B가 가리킨다. (list, dictionary, set도 그렇다.)
b[3] = 1
print(b)
print(a)
# 숫자는 이뮤터블이기 때문에 이뮤터블을 바꾸려면 새롭게 숫자 만들어 메모리 쓴다(튜플, String, 숫자).
# 뮤터블은 변할 수 있는 것들이라 그 값을 변경하면 새롭게 메모리 쓰는게 아닌 그 값 변경.

[1, 2, 3, 1]
[1, 2, 3, 4]

In [ ]:
a = [1, 2, 3, [4, 5, 6]]
b = a.copy() # 한 차원밖에 복사가 안됨.
b[1] = 3
b[3][1] = 3
print(b)
print(a)

[1, 3, 3, [4, 3, 6]]
[1, 2, 3, [4, 3, 6]]

In [ ]:
from traitlets.config.configurable import deepcopy # deepcopy를 사용하여 모든 차원 복사가 되게 함.
import copy
b = copy.deepcopy(a)
b[1] = 2
b[3][1] = 2
print(b)
print(a)

[1, 2, 3, [4, 2, 6]]
[1, 2, 3, [4, 3, 6]]

6. 자료형 실습

In [ ]:
pin = '881120-1068234'
birth = pin[:6]
num = pin[7:]
print('생년월일 :', birth) # ,앞에 공백이 하나 나온다.
print('주민번호 뒷자리 :', num)

생년월일 : 881120
주민번호 뒷자리 : 1068234

In [ ]:
# 이름은 철수 나이는 +14+살 형식으로 출력
print('이름은 철수 나이는 ' + str(14) + '살')
# print('이름은 철수 나이는 ' + 14 + '살') # 숫자와 문자 더하려고 하면 에러난다.
# 철수's house
print("철수's house")
print('철수\'s house')
# 왜그래를 10회 출력
print('왜그래' * 10)
# 나는
# 철수
# 입니다
print('나는\n철수\n입니다')
a1 = """나는
철수
입니다"""
print(a1)
a2 = '''나는
철수
입니다'''
print(a2)
# print(이건뭐야)
# print(김건모모야) 를 이건뭐야 김건모야로 출력
print('이건뭐야', end = ' ')
print('김건모모야')

이름은 철수 나이는 14살
철수's house
철수's house
왜그래왜그래왜그래왜그래왜그래왜그래왜그래왜그래왜그래왜그래
나는
철수
입니다
나는
철수
입니다
나는
철수
입니다
이건뭐야 김건모모야

In [ ]:
string = '우리 둘이 있을 때는 두려움이 없었다 친구'
# 우리
print(string[:2])
# 친구
print(string[-2:])

우리
친구

In [ ]:
a = 'a:b:c:d'
print(a.replace(':', '#')) # replace함수 : 함수 매개변수의 왼쪽 값을 오른쪽 값으로 치환해준다. 많이 쓰임.

a#b#c#d

In [ ]:
# string는 이뮤터블이다.
# s[1] = 'y' # 오류난다.
s = 'Pithon'
# Python으로 변경하여 출력 - 인덱싱과 슬라이싱 활용
print(s[0] + 'y' + s[2:])

Python

In [ ]:
a1 = [1, 3, 5, 4, 2]
print(sorted(a1, reverse = True)) # reverse = True는 내림차순

[5, 4, 3, 2, 1]

In [ ]:
a1 = '안녕 친구'
a2 = a1.replace('친구', '컴 동지')
print(a2)
b1 = '사과. 복숭아. 배. 딸기'
b2 = b1.split('.') # string을 받아서 매개변수 문자를 기준으로 나눠서 list로 바꿔준다.
b2 = b1.split('. ') # 공백 없애기
print(b2)
c1 = 'Hi, Friend'
c2 =c1.upper()
print(c2)
# 소문자로 변경
print(c2.lower())

안녕 컴 동지
['사과', '복숭아', '배', '딸기']
HI, FRIEND
hi, friend

In [ ]:
a1 = 10
a2 = 4
# format이 자동으로 형도 찾아줘서 편하다. 그래서 %보다 많이 사용됨.
# a1 + a2 =
# a1 - a2 =
# a1 * a2 =
# a1 / a2 =
print('{} + {} = {}'.format(a1, a2, a1 + a2))
print('{} - {} = {}'.format(a1, a2, a1 - a2))
print('{} * {} = {}'.format(a1, a2, a1 * a2))
print('{} / {} = {}'.format(a1, a2, a1 / a2))

10 + 4 = 14
10 - 4 = 6
10 * 4 = 40
10 / 4 = 2.5

In [ ]:
a = dict() # 키 : 값 키는 변경할 수 없음
print(a)
a['name'] = 'python';
print(a)
a[('a',)] = 'python';
print(a)
# a[[1]] = 'python' # key가 리스트이므로 변경 가능
# print(type(a))
a['python'] = [1, 2]
print(a)
a[250] = 'python'
print(a)

{}
{'name': 'python'}
{'name': 'python', ('a',): 'python'}
{'name': 'python', ('a',): 'python', 'python': [1, 2]}
{'name': 'python', ('a',): 'python', 'python': [1, 2], 250: 'python'}

In [ ]:
num1 = 12; num2 = 3.567; s1 = '성공'
# 4칙 연산한 결과를 출력
print('%d + %0.2f = %0.2f %s' % (num1, num2, num1 + num2, s1)) # 0.2f 소수점 2째자리까지 보이겠다. %s : 문자열
print('%d - %0.2f = %0.2f %s' % (num1, num2, num1 - num2, s1))
print('%d * %0.2f = %0.2f %s' % (num1, num2, num1 * num2, s1))
print('%d / %0.2f = %0.2f %s' % (num1, num2, num1 / num2, s1))

12 + 3.57 = 15.57 성공
12 - 3.57 = 8.43 성공
12 * 3.57 = 42.80 성공
12 / 3.57 = 3.36 성공

In [ ]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
# a를 set에 넣으면 중복제거
# 중복제거된 것을 리스트에 넣어서 생성
print(list(set(a)))

[1, 2, 3, 4, 5]

In [ ]:
# 오늘은 2016년 12월 25일 일요일입니다
year = 2016
month = 12
day = 25
week = '일요일'
# 숫자를 문자로 변환
print('오늘은 ' + str(year) + '년 ' + str(month) + '월 ' + str(day) + '일 ' + week + '입니다')
# format을 사용
print('오늘은 {}년 {}월 {}일 {}입니다'.format(year, month, day, week))
# %사용하는 방법
print('오늘은 %d년 %d월 %d일 %s입니다' % (year, month, day, week))

오늘은 2016년 12월 25일 일요일입니다
오늘은 2016년 12월 25일 일요일입니다
오늘은 2016년 12월 25일 일요일입니다

In [ ]:
# 공백을 만드는 기법
str = '와우 다음시간이 점심'
# 20칸 확보 오른쪽 왼쪽 중앙
print('{0:<20}'.format(str))
print('{0:>20}'.format(str))
print('{0:^20}'.format(str))
# 위와 같은데 빈칸 !를 채우기
print('{0:!<20}'.format(str))
print('{0:!>20}'.format(str))
print('{0:!^20}'.format(str))
# 45%입니다 출력
print('%d%%' % (45))
print('{}%'.format(45))
# 2.4567을 소숫점 2자리 출력 format 사용
print('{0:.2f}'.format(2.4567))

와우 다음시간이 점심
         와우 다음시간이 점심
    와우 다음시간이 점심
와우 다음시간이 점심!!!!!!!!!
!!!!!!!!!와우 다음시간이 점심
!!!!와우 다음시간이 점심!!!!!
45%
45%
2.46

In [ ]:
# 새로운 포맷팅 기법이지만 잘 안쓴다. 같은 표현 여러가지 다른방법으로 할 수 있다는 것만 알자.
week = '금요일'
month = 11
day = 1
# 오늘은 xx월 xx일 xxx입니다. f를 사용하여 출력
# 요일은 8칸 확보 중앙에 배치, 앞뒤에 @표시
print(f'오늘은 {month}월 {day}일 {week:@^8}입니다')

오늘은 11월 1일 @@금요일@@@입니다

In [ ]:
# 계산식들
a = 1.23 + 0.32
print(a)
b = 3.0 - 1.5
print(b)
c = 2.1 * 2.0
print(c)
d = 4.5 // 2.0
print(d)
e = 4.5 % 2.0
print(e)
f = 4.5 / 2.0
print(f)

1.55
1.5
4.2
2.0
0.5
2.25

In [ ]:
string = "Good Morning"
# in은 문자열에 포함되어 있는지 검사
print("o" in string)
print("m" in string) # 파이썬에선 대문자 M과 소문자 m을 다르게 취급
# len은 문자열의 길이
print(len(string))

True
False
12

In [ ]:
# 슬라이싱의 예시
#    0123456789012345678901234567890123
a = "Life is too short, You need Python"
# index 문자의 순서이고 0부터 시작
print(a[0])
print(a[3])  # 양수는 앞에 부터
print(a[-1])  # -는 뒤부터
print(a[-3])
print(a[0] + a[1] + a[2] + a[3])
print(a[0:4])
print(a[19:22])
print(a[5:7], a[12:17])
# 처음부터 index 4번 앞에 까지, 처음부터 pointer 4번까지
print(a[:4])
print(a[4:]) # pointer 4번부터 끝까지

L
e
n
h
Life
Life
You
is short
Life
 is too short, You need Python

In [ ]:
print("abcd".isalpha()) # 알파벳 확인 대/소 문자 구분 안함
print('abcd1234'.isalpha())
print('1234'.isnumeric()) # 숫자 확인
print("abcd".isalpha())
print('abcd1234'.isalnum()) # 알파벳, 숫자, 혼용
print('1234'.isalnum())
print("abcd".isalnum())
print('abcd1234'.isalnum())

True
False
True
True
True
True
True
True

In [ ]:
# join 함수 : 문자열 사이에 문자를 넣어 합쳐준다.
print(','.join('abcd'))
print('.'.join(['a', 'b', 'c', 'd'])) # list도 문자를 넣어 합쳐서 문자로 반환한다.

a,b,c,d
a.b.c.d