<a href="https://colab.research.google.com/github/stbhg5/ComputerScience/blob/main/python_ch2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 숫자는 이뮤터블이라 원본 안 바뀜
x = 5  # call by value
y = x  # 기본형은 값을 전달
print(x, y)
y = 3
print(x, y)

5 5
5 3

In [2]:
# 리스트는 뮤터블이라 원본 바뀜
x = [2,3,5,7,11] # 참조형 call by reference
y = x            # 주소 pointer를 넘김
y[2] = 4
print(x)
print(y)

[2, 3, 4, 7, 11]
[2, 3, 4, 7, 11]

In [3]:
x = [2, 3, 5, 7, 11]
y = list(x)   # x에 있는 데이터를 가지고 와서
              # y가 새로 만든 주소에 데이터를 저장 y[2] = 4
y[1] = 2
print(x)
print(y)

[2, 3, 5, 7, 11]
[2, 2, 5, 7, 11]

In [4]:
list = [6,4,3]
list.append(4)
list.append([5,6])
print(list)
list2 = [7, 3, 6, 2, 1]
# sort()는 원본 데이터를 변경
list2.sort()
print(list2)
list3 = ["l", 'a', 'c', 'b']
list3.sort()
print(list3)

[6, 4, 3, 4, [5, 6]]
[1, 2, 3, 6, 7]
['a', 'b', 'c', 'l']

In [5]:
# key가 중복되면 앞의 데이터는 무시
d1 = {'이름': '수지', '나이': 25, '취미': '욕하기', '나이': 12}
print(d1)
print(d1['나이'])
print(d1['이름'])
print(len(d1))
d1['이름'] = '다혜' # 해당하는 key의 값이 변경
print(d1['이름'])
del d1['나이'] # key에 해당하는 데이터 삭제
print(d1)

{'이름': '수지', '나이': 12, '취미': '욕하기'}
12
수지
3
다혜
{'이름': '다혜', '취미': '욕하기'}

In [6]:
# copy() 예시
d1 = {'이름': '하니', '나이': 23, '취미': '코 후비기'}
print(d1.keys())
print(d1.values())
print(d1.items()) # key, value가 튜플형태로 나옴
d2 = d1.copy()
d1.clear()
print(d1)
print(d2)
print(d2.get('이름'))
print(d2.get('나이','대박'))
print(d2.get('고향','대박')) # 키가 없으면 출력

dict_keys(['이름', '나이', '취미'])
dict_values(['하니', 23, '코 후비기'])
dict_items([('이름', '하니'), ('나이', 23), ('취미', '코 후비기')])
{}
{'이름': '하니', '나이': 23, '취미': '코 후비기'}
하니
23
대박

In [10]:
d1 = {}
d1['이름'] = '수지'
d1['나이'] = 25
print(d1)
# 값은 리스트등 여러개 가능
d2 = {'이름': ['철수', '영희']}
print(d2)
# key는 하나, 리스트는 키 불가능
# d3 = {['이름, 나이']: '몰라'}

{'이름': '수지', '나이': 25}
{'이름': ['철수', '영희']}