<a href="https://colab.research.google.com/github/stbhg5/ComputerScience/blob/main/python_ch3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 기초연산자들

In [ ]:
a = 3
b = 4
a > 4 # False

False

In [ ]:
b = [1, 2, 3, 4]
a = 3
a in b # True
5 in b # False

False

In [ ]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
a is b # False
b = a
a is b # True

True

In [ ]:
a = 3
a += 1 # a = a + 1과 같다.
print(a)

4

2. if문

In [ ]:
x = 3 # 양수입니다
x = -1 # 음수입니다
x = 0 # 0입니다.
if x > 0:
    print('양수입니다')
elif x < 0:
    print('음수입니다')
else:
    print('0입니다.')

0입니다.

3. for문

In [ ]:
for i in [1, 2, 3, 4]:
    print(i)
# 1 2 3 4
for i in set([1, 21, 3, 4]):
    print(i)
# 1 3 4 21 (순서가 없기 때문에 마구잡이 순서로 나옴)
for i in [1, 21, 3, 42]:
    print(i)
# 1 21 3 42 (순서에 맞게 나온다)

1
2
3
4
1
3
4
21
1
21
3
42

In [ ]:
for i in range(1, 5):
    print(i)
for i in range(5): # range(0, 5)와 같다.
    print(i)

1
2
3
4
0
1
2
3
4

In [ ]:
for i in range(0, 5, 2):
    print(i)
for i in range(5, 0, -1):
    print(i)

0
2
4
5
4
3
2
1

4. while문

In [ ]:
i = 0;
while i <= 100:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# pass
if 1 > 0:
    pass # 아무 일도 안 일어남(아무 문장 안 적으면 오류가 생김), 다음에 구현할 부분 표시하기 위해 놓기도 함.
else:
    print('2')

In [ ]:
while 1 > 0:
    print(1)
    break # while문 또는 for문 끝냄

1

In [ ]:
i = 0
while i < 20:
    if i % 2 == 0:
        print(i)
        i += 1
    else:
        i += 1
        continue
    print('나는 짝수지롱')

0
나는 짝수지롱
2
나는 짝수지롱
4
나는 짝수지롱
6
나는 짝수지롱
8
나는 짝수지롱
10
나는 짝수지롱
12
나는 짝수지롱
14
나는 짝수지롱
16
나는 짝수지롱
18
나는 짝수지롱

5. 실전문제풀이

In [6]:
i = 1
sum = 0
while True: # while뒤에 True이면 무한 반복
    # 종료하기 위해서는 break를 사용 sum += i
    if i > 50:
        # break 반복문 종료
        break
    sum += i
    i += 1
    print('합계 :', sum)
print('합계결과 :', sum)

합계 : 1
합계 : 3
합계 : 6
합계 : 10
합계 : 15
합계 : 21
합계 : 28
합계 : 36
합계 : 45
합계 : 55
합계 : 66
합계 : 78
합계 : 91
합계 : 105
합계 : 120
합계 : 136
합계 : 153
합계 : 171
합계 : 190
합계 : 210
합계 : 231
합계 : 253
합계 : 276
합계 : 300
합계 : 325
합계 : 351
합계 : 378
합계 : 406
합계 : 435
합계 : 465
합계 : 496
합계 : 528
합계 : 561
합계 : 595
합계 : 630
합계 : 666
합계 : 703
합계 : 741
합계 : 780
합계 : 820
합계 : 861
합계 : 903
합계 : 946
합계 : 990
합계 : 1035
합계 : 1081
합계 : 1128
합계 : 1176
합계 : 1225
합계 : 1275
합계결과 : 1275

In [10]:
# continue는 아래 부분을 실행하지 않고 다음 반복문
for i in range(10):
    print("안녕 친구")
    print(i)
    if i > 4:
        continue
    # break  # 반복문 종료
    print("난 출력 되나")

안녕 친구
0
난 출력 되나
안녕 친구
1
난 출력 되나
안녕 친구
2
난 출력 되나
안녕 친구
3
난 출력 되나
안녕 친구
4
난 출력 되나
안녕 친구
5
안녕 친구
6
안녕 친구
7
안녕 친구
8
안녕 친구
9

In [12]:
# while문을 사용하여 1부터 100사이의 짝수를 출력해 보세요
sum = 0
i = 1
while i <= 100:
    if i % 2 == 0:
        print(i)
        # sum += i
    i += 1
# print("100짝수 합 :", sum)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [13]:
# 2중 for문
for i in range(1, 10):
    for j in range(2, 10):
        print('{} * {} = {}'.format(j, i, i * j), end = '\t')
    print() # print('', end = '\n')와 같다. 즉, 세로로 내려가게 함.

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [15]:
# end : 입력한 값을 붙이며 세로로 내려가지 않게 함.
# \t : 들여쓰기(탭)
print(1, end = '\t')
print(2)
print(1, end = '    ')
print(3)
print(1, end = '띄우기')
print(4)

1	2
1    3
1띄우기4

In [17]:
# 튜플
for i in (1, 2, 3):
    print(i)
# sings = ["아이유", "여자친구", "이하이", "악뮤", "알리"]
sings = '노래들'
# 문자열
for s in sings:
    print(s)
# list
li = [1, 2, 3]
for i in li:
    print(i)

1
2
3
노
래
들
1
2
3

In [18]:
li = [1, 2, 3, 4, 5]
# li데이터 하나씩 가져와서 3승(3제곱)하여 출력
for i in li:
    print("{} ** 3 = {}".format(i, i ** 3))

1 ** 3 = 1
2 ** 3 = 8
3 ** 3 = 27
4 ** 3 = 64
5 ** 3 = 125

In [19]:
# for문에 for가 있는 경우 중첩 for
for i in range(4):
    # i 가 0일 때 j가 0부터 3까지
    # i 가 1일 때 j가 0부터 3까지
    # i 가 2일 때 j가 0부터 3까지
    # i 가 3일 때 j가 0부터 3까지
    print("i = {}, ".format(i), end = '')
    for j in range(4):
        print(j, end = ' ')
    print()

i = 0, 0 1 2 3
i = 1, 0 1 2 3
i = 2, 0 1 2 3
i = 3, 0 1 2 3

In [21]:
# 주사위를 두 번 던져서 나온 숫자들의 합이 4의 배수가 되는 경우
# 내 풀이
for i in range(1, 7):
    for j in range(1, 7):
        if((i + j) % 4 == 0):
            print(i, j)
# 정답 풀이
for i in range(1, 7):     # i : 1 ~ 6 첫번째 주사위
    for j in range(1, 7): # j : 1 ~ 6 두번째 주사위
        k = i + j
        if k % 4 == 0:
            print('{} + {} = {}'.format(i, j, i + j))

1 3
2 2
2 6
3 1
3 5
4 4
5 3
6 2
6 6
1 + 3 = 4
2 + 2 = 4
2 + 6 = 8
3 + 1 = 4
3 + 5 = 8
4 + 4 = 8
5 + 3 = 8
6 + 2 = 8
6 + 6 = 12

In [23]:
# 주사위 두개를 던져서 나온 숫자의 합이 6이 되는 경우 출력
# 내 풀이
for i in range(1, 7):
    for j in range(1, 7):
        if i + j == 6:
            print('{} + {} = {}'.format(i, j, i + j))
# 정답 풀이
for i in range(1, 7): # 첫번째 주사위
    for j in range(1, 7): # 두번째 주사위
        k = i + j
        if k == 6:
            print("{} + {} = {}".format(i, j, i + j))

1 + 5 = 6
2 + 4 = 6
3 + 3 = 6
4 + 2 = 6
5 + 1 = 6
1 + 5 = 6
2 + 4 = 6
3 + 3 = 6
4 + 2 = 6
5 + 1 = 6

In [26]:
# if, elif
print('수박 무게를 입력하세요')
weight = int(input())
if weight > 10: result = 1
elif weight > 7: result = 2
elif weight > 4: result = 3
else: result = 4
print("수박은 {}등급입니다".format(result))

수박 무게를 입력하세요
123
수박은 1등급입니다

In [27]:
# if, elif 한 줄로
week = input("요일의 첫자를 입력하세요") # input() : 사용자에게 값을 직접 입력하게 하는 함수
if week == '월': result = 'Monday'
elif week == '화': result = 'Tuesday'
elif week == '수': result = 'Wednesday'
elif week == '목': result = 'Thursday'
elif week == '금': result = 'Friday'
elif week == '토': result = 'Saturday'
elif week == '일': result = 'Sunday'
else: result = '에휴 ! 바보아냐'
print(result)

요일의 첫자를 입력하세요목
Thursday

In [31]:
# and는 조건 둘 다 참일 때만 참
print('아이디를 입력하세요')
id = input()
passw = input("암호를 입력하세요")
if id == "root" and passw == "system":
    print("로그인 성공")
elif id != "root":
    print("넌 누구냐")
else:
    print("암호를 모르네")

아이디를 입력하세요
root
암호를 입력하세요system
로그인 성공

In [32]:
# while문을 사용하여 100이상의 자연수중 가장 작은 23의 배수를 출력해 보세요
i = 100
while True:
    if i % 23 == 0:
        print("23의 배수 :", i)
        break
    i += 1

23의 배수 : 115

In [34]:
# if문 한 줄로 쓰기2
score = int(input('점수 ?'))
# if score > 60: message = "성공"
# else:   message = "실패"
message = "성공" if score > 60 else "실패"
print(message)

점수 ?70
성공

In [37]:
# 리스트를 문자열로 출력하기
sings = ["아이유", "여자친구", "이하이", "악뮤", "알리"]
print(len(sings))
for i in range(len(sings)):
    if i == len(sings) - 1: # 마지막 문자 끝에 ,입력 방지 - 마지막 인덱스 4이기 때문에 길이 - 1
        print(sings[i])
    else:
        print(sings[i], end = ', ')

5
아이유, 여자친구, 이하이, 악뮤, 알리

In [38]:
# range() 함수 간격
# 1부터 10까지 중에서 홀수만 숫자사이 ,를 출력
for i in range(1, 10, 2):
    if(i != 9):
        print(i, end=', ')
    else:
        print(i)
for i in range(1, 10):
    if i % 2 == 1:
        if(i != 9):
            print(i, end = ', ')
        else:
            print(i)

1, 3, 5, 7, 9
1, 3, 5, 7, 9

In [39]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
# 인덱스 값 출력
# for i in numbers: # 값만 나온다.
for i in range(len(numbers)): # range(len(numbers)) : 인덱스 출력 - 외우기, 자주 쓴다.
    print(i, numbers[i]) # 인덱스, 해당 인덱스의 값

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19

In [40]:
# in
a = "Life is too short, you need python"
if "wife" in a:
    print("wife")
elif "python" in a and "you" not in a:
    print("python")
elif "shirt" not in a:
    print("shirt")
elif "need" in a:
    print("need")
else:
    print("none")

shirt

In [41]:
# 문자열
a = "Life is too short, you need python"
'Life' in a # 해당 문자열 속하는지 검사
# 문자열에서는 원소 하나 뿐만 아니라 슬라이싱에 해당되어도 True 반환

True

In [43]:
# 리스트
a = ['L', 'i', 'f', 'e']
'Life' in a # False
'L' in a # True
# 리스트에서는 그 원소를 가졌을 때만 True 반환

True

In [44]:
for i in range(5):
    for j in range(5):
        print(j)
        break # 2번째 for문에만 영향 준다. 2번째 for문 통제 받기 때문

0
0
0
0
0