<a href="https://colab.research.google.com/github/stbhg5/ComputerScience/blob/main/python_ch3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 기초연산자들

In [ ]:
a = 3
b = 4
a > 4 # False

False

In [ ]:
b = [1, 2, 3, 4]
a = 3
a in b # True
5 in b # False

False

In [ ]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
a is b # False
b = a
a is b # True

True

In [ ]:
a = 3
a += 1 # a = a + 1과 같다.
print(a)

4

2. if문

In [ ]:
x = 3 # 양수입니다
x = -1 # 음수입니다
x = 0 # 0입니다.
if x > 0:
    print('양수입니다')
elif x < 0:
    print('음수입니다')
else:
    print('0입니다.')

0입니다.

3. for문

In [4]:
for i in [1, 2, 3, 4]:
    print(i)
# 1 2 3 4
for i in set([1, 21, 3, 4]):
    print(i)
# 1 3 4 21 (순서가 없기 때문에 마구잡이 순서로 나옴)
for i in [1, 21, 3, 42]:
    print(i)
# 1 21 3 42 (순서에 맞게 나온다)

1
2
3
4
1
3
4
21
1
21
3
42

In [7]:
for i in range(1, 5):
    print(i)
for i in range(5): # range(0, 5)와 같다.
    print(i)

1
2
3
4
0
1
2
3
4

In [10]:
for i in range(0, 5, 2):
    print(i)
for i in range(5, 0, -1):
    print(i)

0
2
4
5
4
3
2
1

4. while문

In [11]:
i = 0;
while i <= 100:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [12]:
# pass
if 1 > 0:
    pass # 아무 일도 안 일어남(아무 문장 안 적으면 오류가 생김), 다음에 구현할 부분 표시하기 위해 놓기도 함.
else:
    print('2')

In [13]:
while 1 > 0:
    print(1)
    break # while문 또는 for문 끝냄

1

In [18]:
i = 0
while i < 20:
    if i % 2 == 0:
        print(i)
        i += 1
    else:
        i += 1
        continue
    print('나는 짝수지롱')

0
나는 짝수지롱
2
나는 짝수지롱
4
나는 짝수지롱
6
나는 짝수지롱
8
나는 짝수지롱
10
나는 짝수지롱
12
나는 짝수지롱
14
나는 짝수지롱
16
나는 짝수지롱
18
나는 짝수지롱