<a href="https://colab.research.google.com/github/stbhg5/ComputerScience/blob/main/python_ch1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

주석이란?

In [6]:
#안녕하세요
# 주석이 무엇일까 : 컴퓨터는 이해할 수 없고, 인간이 보고 이해할 수 있다.
'''
안녕하세요
저는 송진성 입니다
'''
# 주석

'\n안녕하세요\n저는 송진성 입니다\n'

print를 해 봅시다

In [7]:
# 컴퓨터에게 명령하는 것을 함수라고 한다.
print("Hello Python")
print("안녕 파이썬")

Hello Python
안녕 파이썬

In [8]:
# 파이썬 프로그래밍의 시작!
print("Hello world")

Hello world

변수 선언

In [15]:
a = 2000
print(a)
print(a)
print(a)
# =은 우측의 값을 좌측에 대입
a = a + 20
print(a)
a = a - 1000
print(a)

2000
2000
2000
2020
1020

변수 선언2

In [3]:
a1 = 100          #정수
a2 = 6.76         #실수
a3 = "대박사건"   #문자열
print(a1)
print(a2)
print(a3)

100
6.76
대박사건

변수 선언3

In [17]:
# \는 문장이 길 때 두줄로 표시하기 위한 것
print(   \
      '대박사건')
print("대박",
      "사건")
a = "철수"
b = "영희"
c = a + b # +는 문장을 이어 준다
print(c)

대박사건
대박 사건
철수영희

In [18]:
# 엔터로 줄을 나눌 때
# 같은 라인이라는 표시 \
print('hello \
world')

hello world

if문 연습

In [21]:
x = -100
x = 100
# 콜론(:)는 조건이 끝났다는 의미
if x > 0 :
    # 들여쓰기가 상위 문장의 조건을 만족할 때 실행한다는 의미
    print("0보다 큽니다")
    # 세미콜론(;)은 두 개 이상 문장을 한 줄로 쓸 때 사용
    print("x = ", x); print("대박")
else :
    print("0보다 작다")
    print("헐 ~")

0보다 큽니다
x =  100
대박

대입과 if문

In [ ]:
a1 = 7
a2 = 10
if a1 > a2 :
    print("a1이 a2보다 크다")
else : 
    print("a1이 a2보다 작거나 같다")

기본연산

In [22]:
a = "대박사건"
# 문자를 곱하기 하면 반복이다
print(a * 3)
b = 7
print(b ** 3) # ** 거듭제곱(7의 세제곱)
# /나누기 결과는 실수, //몫
k = a = 7 # =는 오른쪽부터 실행
# print 안에서 ,는 한쪽 떨어짐
print("k =", k, ", a =", a)
a1, b1 = 7, 8 # a1에는 7이, b1에는 8이 각각 대입
print("a1 =", a1, ", b1 =", b1)
a1, b1 = b1, a1 # 값 교환
print("a1 =", a1, ", b1 =", b1)

대박사건대박사건대박사건
343
k = 7 , a = 7
a1 = 7 , b1 = 8
a1 = 8 , b1 = 7

대입과 출력

In [23]:
# 15를 a1, a2, a3에 대입하고 출력
a1 = a2 = a3 = 15
print('a1 =', a1, ', a2 =', a2, ', a3 =', a3)
# b1, b2에 23과 45를 대입하고 출력
b1, b2 = 23, 45
print('b1 =', b1, ', b2 =', b2)
# b1과 b2의 값을 서로 교환하고 출력
b1, b2 = b2, b1
print('b1 =', b1, ' b2 =', b2)
# 허걱을 10회 출력
print('허걱' * 10)
# 15나누기 3의 몫을 출력
print(15 // 3) # 몫은 정수
print(15 / 3) # 나누기 결과는 실수
# 3의 3승을 출력
print(3 ** 3)

a1 = 15 , a2 = 15 , a3 = 15
b1 = 23 , b2 = 45
b1 = 45  b2 = 23
허걱허걱허걱허걱허걱허걱허걱허걱허걱허걱
5
5.0
27