<a href="https://colab.research.google.com/github/stbhg5/ComputerScience/blob/main/python_ch7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 상속

In [4]:
class add_calculator:
    def addition(self, x, y):
        return x + y

class good_calculator(add_calculator):
    def substraction(self, x, y):
        return x - y

In [5]:
calc1 = add_calculator()
calc1.addition(3, 4)

7

In [9]:
calc2 = good_calculator()
calc2.addition(4, 5)

9

In [8]:
calc2.substraction(4, 3)

1

In [14]:
# 부모의 기능 불러오기
class add_calculator2(add_calculator):
    def addition2(self, x, y):
        print(super().addition(x, y))
        print('또?')
        print(super().addition(x, y))

In [15]:
calc3 = add_calculator2()
calc3.addition2(5, 5)

10
또?
10

In [18]:
# 오버라이딩
class add_calculator3(add_calculator):
    def addition(self, x, y):
        print('이름 동일한 새롭게 정의된 메서드')
        return x + y

In [19]:
calc4 = add_calculator3()
calc4.addition(3, 3)

이름 동일한 새롭게 정의된 메서드

6

In [ ]:
# 다중 상속도 가능하다. 만약 상속받은 클래스들 중 메서드 이름이 중복된다면 먼저 선언된 클래스의 메서드를 상속받는다.

2. 추상 클래스와 isinstance

In [26]:
# 추상클래스
from abc import *
class Abstract(metaclass = ABCMeta): # 추상클래스 상속받음
    @abstractmethod
    def method(self):
        pass

class test(Abstract):
    pass

class tests(Abstract):
    def method(self):
        pass

In [22]:
test1 = Abstract() # 추상클래스는 객체생성 불가능

TypeError: ignored

In [24]:
test2 = test() # 추상클래스를 상속받은 클래스는 반드시 추상클래스의 추상메서드를 강제로 만들어야 한다.

TypeError: ignored

In [27]:
test3 = tests() # 오류가 나지 않는다.

In [30]:
# isinstance
a = 3
isinstance(a, int)

True

In [32]:
isinstance(test3, tests)

True

In [33]:
isinstance(test3, int)

False