<a href="https://colab.research.google.com/github/stbhg5/ComputerScience/blob/main/python_ch4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 함수란

In [ ]:
# 반환값이 있는 함수
def function(x):
    y = 3 * x + 4
    return y

In [ ]:
function(1) # 7
result = function(1)
print(result)

7

In [ ]:
# 반환값이 없는 함수
def function(x):
    y = 3 * x + 4
    print(y)

result = function(1)
print(result) # None이 나오는 이유는 함수의 반환값이 없기 때문이다.

7
None

In [ ]:
# 입력값, 출력값 없는 함수
def hello():
    print('hello')

In [ ]:
hello()

hello

In [ ]:
# 값을 2개 반환하는 함수
def add_and_multiplication(x, y):
    return x + y, x * y

a = add_and_multiplication(3, 4)
print(a) # 튜플로 반환
a, b = add_and_multiplication(3, 4) # 결과값 여러개일때 변수에 나누어 반환
print(a)
print(b)

(7, 12)
7
12

2. 매개변수와 글로벌 변수

In [ ]:
# 매개변수에 기본값 지정
def add(a = 1, b = 3):
    return a + b
print(add())
print(add(2))
print(add(b = 2))
print(add(a = 3, b = 2))
#print(add(a = 3, 2)) 오류난다
print(add(2, b = 2)) # 가능하다 - 특정 지정하고 싶은 값이 있다면 뒤쪽 매개변수에 쓰기

4
5
3
5
4

In [ ]:
# 매개변수의 입력값이 몇 개가 될 지 모를 때
def printer(*args): # args에 들어간 변수가 tuple 형태로 변환되어 들어간다.
    for i in args:
        print(i)
printer(1, 2, 3, 4)

1
2
3
4

In [ ]:
# 매개변수의 입력값이 몇 개가 될 지 모를 때2
def printer2(**kwargs): # kwargs에 들어간 변수가 dictionary 형태로 변환되어 들어간다.
    return kwargs
result = printer2(a = 1, b = 2) # 반드시 매개변수 이름을 지정해 주어야 한다.
print(result)

{'a': 1, 'b': 2}

In [ ]:
# 매개변수에 전달되는값은?
a = 3
def test():
    a = 2
    print(a)
test()
print(a)

2
3

In [ ]:
# 함수 내부에서 global 변수 호출
a = 3
def f():
    global a
    a += 1
    print(a)
f()
print(a)

4
4

In [ ]:
a = 3
def f():
    global a
    a = 1
    a = a + 1
    print(a)
f()

2

3. 실습

In [2]:
# generator와 yield
def gen(n):
    while n > 0:
        yield n
        n = n - 1
gen(10) # <generator object gen at 0x7f581d7bb580>
list(gen(10))
# yield도 return 개념이지만 바로 계산하는게 아니라 특정한 지시를 내릴 때 비로소 계산해준다. (계산식 보관했다가 부르는 순간 계산)
# 즉 gen(매개변수) 함수를 선언하자 마자 바로 계산하지 않고 호출할 때 계산하는데, list() 혹은 for문과 같은 특정 지시를 내릴 때 계산해준다.

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [3]:
# 거스름돈 알려주는 함수
def calculate_change(payment, cost):
    money = payment - cost
    unit = [50000, 10000, 5000, 1000] # 지폐 종류
    for i in range(len(unit)):
        print('{}원 지페 : {}장'.format(unit[i], money // unit[i])) # //는 몫을 구한다.
        money = money % unit[i] # 나눈 나머지 금액 들어간다.
calculate_change(100000, 33000) # 함수 호출
print('=================')
calculate_change(500000, 378000)

50000원 지페 : 1장
10000원 지페 : 1장
5000원 지페 : 1장
1000원 지페 : 2장
=================
50000원 지페 : 2장
10000원 지페 : 2장
5000원 지페 : 0장
1000원 지페 : 2장

In [5]:
# 절댓값을 내보내주는 함수
def abs(num):
    # return만나면 함수가 종료됨
    if num > 0:
        result = num
    else:
        result = num * -1
    return result
    # return 뒤는 실행되지 않음
    print(1)
    print(2)
print(abs(-7))
print(abs(12))

7
12

In [6]:
# *는 복수의 데이터를 가진 변수
a, *b = [1, 2, 3, 4, 5]
print(a)
print(b)
*a, b = [1, 2, 3, 4, 5]
print(a)
print(b)
a, *b, c = [1, 2, 3, 4, 5]
print(a)
print(b)
print(c)
# a, *b, *c = [1, 2, 3, 4, 5] b와 c에 몇개씩인지 구별못함

1
[2, 3, 4, 5]
[1, 2, 3, 4]
5
1
[2, 3, 4]
5

In [8]:
# 일반변수와 *변수 같이 있을 때
def fa(a, *k): # (*k, a) 에러난다. 매개변수와 일반변수에서 *변수 개념 약간 다르다.
    print(a)
    print(k)
fa(2, 5, 6, 7, 9)
# (*k, a)로 함수가 선언되었지만 함수 호출 시 매개변수에 특정 값을 지정하면 된다.
def fa(*k, a):
    print(a)
    print(k)
fa(2, 5, 6, 7, a = 9)

2
(5, 6, 7, 9)
9
(2, 5, 6, 7)

In [9]:
# 초기값을 정해놓고 해당하는 매개변수 값이 없으면 초기값 사용
# 이렇게 사용하는 것을 optional parameter
def intro(name, age, hobby = '졸기'):
    print('이름 :', name)
    print('나이 :', age)
    print('취미 :', hobby)
intro('철수', 25, '웃기')
intro('보미', 21)

이름 : 철수
나이 : 25
취미 : 웃기
이름 : 보미
나이 : 21
취미 : 졸기

In [10]:
# *변수 : 값이 여러개
# **변수 : '키=값'형태가 여러개
def f(height, weight, **k):
    print('키 :', height)
    print('몸무게 :', weight)
    print(k)
f(height = 182, weight = 89, age = 27, name = '강다니엘')

키 : 182
몸무게 : 89
{'age': 27, 'name': '강다니엘'}

In [11]:
# return 한 것과 안 한 것의 차이
def sum(a, b):
    return a + b
def print_sum(a, b):
    print(a + b)
sum(2, 4)  # 이자리에 6이 들어 가지만 출력은 하지 않음
print(sum(2, 4))  # 6을 출력
print_sum(2, 4)  # 6을 출력
print(print_sum(2, 4)) # 6을 출력하고 None을 출력
# return이 없을 경우는 받는 값이 없으므로 None

6
6
6
None

In [12]:
# 지역변수와 전역변수
def multiply_by_two():
    global x
    x = x * 2
def multiply_by_three():
    y = 2  # local
    y = y * 3
x = 2
multiply_by_two()
# x는 global이므로 변경된 4가 출력
print(x)
y = 2
multiply_by_three()
# y는 지역함수에서 변경이 내용이 반영되지 않으므로 2
print(y)

4
2